<ion-header>
  <ion-navbar color="navBar">
    <ion-title>
      Dispositivos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="homeBg">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col *ngFor="let dispositivo of listaDispositivos">
          <ion-card>
          <button ion-item (click)="detallesBoton(dispositivo)">
              <ion-card-content style="text-align: center">
                  <ion-icon *ngIf="dispositivo.icon == 'custom-raspberry'" [name]="dispositivo.icon" color="raspberry"></ion-icon>
                  <ion-icon *ngIf="dispositivo.icon == 'custom-tv'" [name]="dispositivo.icon" color="dark"></ion-icon>
                  <ion-icon *ngIf="dispositivo.icon == 'custom-door'" [name]="dispositivo.icon" color="door"></ion-icon>
                  <ion-icon *ngIf="dispositivo.icon == 'sunny'" [name]="dispositivo.icon" color="sun"></ion-icon>
                  <ion-icon *ngIf="dispositivo.icon == 'alarm'" [name]="dispositivo.icon" color="primary"></ion-icon>
                  <ion-icon *ngIf="dispositivo.icon == 'call'" [name]="dispositivo.icon" color="call"></ion-icon>
                  <ion-icon *ngIf="dispositivo.icon == 'musical-notes'" [name]="dispositivo.icon" color="dark"></ion-icon>
                  <ion-icon *ngIf="dispositivo.icon == 'custom-wc'" [name]="dispositivo.icon" color="primary"></ion-icon>
                  {{ dispositivo.nombre }}
              </ion-card-content>
          </button>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
<ion-row>
  <ion-col style="text-align: center">
    <button ion-button item-end icon-start color="secondary" (click)="nuevoBoton()">
      <ion-icon name="add"></ion-icon>
      <p>Añadir Dispositivo</p>
    </button>
  </ion-col>
</ion-row>
  
</ion-content>
