<!--
  Generated template for the BotonPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

     <ion-navbar color="navBar">
      <ion-title> {{dispositivo.nombre}} - {{tipoPulsador}} </ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding class="homeBg" *ngIf="tipoPulsador == 'Activar Pin'"> 
    <ion-grid>
      <ion-row>
        <ion-col width-50 style="text-align: center">
            <button round ion-button (click)="activarPin()">TESTEAR PIN</button>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col width-50 style="text-align: center">
            PIN: {{pin}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-range round name="David" min="2" max="26" pin="true" [(ngModel)]="pin" color="secondary">
              <button range-left ion-button small round icon-only color=light (click)="restarPin()">
                  <ion-icon color="dark" name="arrow-dropleft"></ion-icon>
              </button>
              <button range-right ion-button small round icon-only color=light (click)="sumarPin()">
                <ion-icon color="dark" name="arrow-dropright"></ion-icon>
              </button>
            </ion-range>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content> 
    <ion-content padding class="homeBg" *ngIf="tipoPulsador == 'Activar Servo'"> 
        <ion-grid no-padding>
          <ion-row>
            <ion-col width-50 style="text-align: center">
              <button round ion-button (click)="activarServo()">TESTEAR SERVO</button>
            </ion-col>
          </ion-row>
          <ion-row padding>
            <ion-col width-50 style="text-align: center">
                PIN: {{pin}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-range round name="David" min="2" max="26" pin="true" [(ngModel)]="pin" color="secondary">
                  <button range-left ion-button small round icon-only color=light (click)="restarPin()">
                    <ion-icon color="dark" name="arrow-dropleft"></ion-icon>
                  </button>
                  <button range-right ion-button small round icon-only color=light (click)="sumarPin()">
                    <ion-icon color="dark" name="arrow-dropright"></ion-icon>
                  </button>
                </ion-range>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row padding>
              <ion-col width-50 style="text-align: center">
                  Duración Giro Inicial: {{durIni}} seg
              </ion-col>
            </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-range min="1" max="10" pin="true" [(ngModel)]="durIni" color="dark">
                  <button range-left ion-button small round icon-only color=light (click)="restarDurIni()">
                    <ion-icon color=dark name="arrow-dropleft"></ion-icon>
                  </button>
                  <button range-right ion-button small round icon-only color=light (click)="sumarDurIni()">
                    <ion-icon color=dark name="arrow-dropright"></ion-icon>
                  </button>
                </ion-range>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row padding>
            <ion-col width-50 style="text-align: center">
                Duración Giro Final: {{durFin}} seg
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-range min="1" max="10" pin="true" [(ngModel)]="durFin" color="dark">
                  <button range-left ion-button small round icon-only color=light (click)="restarDurFin()">
                    <ion-icon color=dark name="arrow-dropleft"></ion-icon>
                  </button>
                  <button range-right ion-button small round icon-only color=light (click)="sumarDurFin()">
                    <ion-icon color=dark name="arrow-dropright"></ion-icon>
                  </button>
                </ion-range>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row padding>
            <ion-col width-50 style="text-align: center">
                Ángulo Giro Inicial: {{angIni}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-range min="0" max="15" pin="true" [(ngModel)]="angIni">
                  <button range-left ion-button small round icon-only color=light (click)="restarAngIni()">
                    <ion-icon color=dark name="arrow-dropleft"></ion-icon>
                  </button>
                  <button range-right ion-button small round icon-only color=light (click)="sumarAngIni()">
                    <ion-icon color=dark name="arrow-dropright"></ion-icon>
                  </button>
                </ion-range>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row padding>
            <ion-col width-50 style="text-align: center">
                Ángulo Giro Final: {{angFin}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-range min="0" max="15" pin="true" [(ngModel)]="angFin">
                  <button range-left ion-button small round icon-only color=light (click)="restarAngFin()">
                    <ion-icon color=dark name="arrow-dropleft"></ion-icon>
                  </button>
                  <button range-right ion-button small round icon-only color=light (click)="sumarAngFin()">
                    <ion-icon color=dark name="arrow-dropright"></ion-icon>
                  </button>
                </ion-range>
              </ion-item>
            </ion-col>
          </ion-row>
        
        </ion-grid>
  </ion-content>  